name: Build Tagged Limitless Web App
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build web (release)
        shell: bash
        run: |
          flutter build web --release

      - name: Upload artifact (limitless-web)
        uses: actions/upload-artifact@v4
        with:
          name: limitless-web
          path: build/web
